*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
}

.contenedor-padre{
    background-color: aqua;
    width: 800px;
    height: 1600px;
    position: relative;
}
.cubo{
    background-color: brown;
    color: white;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(46, 3, 3);
    font-size: 20px;
}
section{
    height: 800px;
}
.static{
    position: static;
    margin-left: 80px;

}
.relative{
    background-color: darkgreen;
    position: relative;
    left: 200px;
    bottom: 100px;
    z-index: 4;
}
.absolute{
    background-color: yellow;
    color:black;
    position:absolute;
    top: 230px;
    right: 520px;
    z-index: 2;


}
.fixed{
    background-color: bisque;
    color: black;
    position: fixed;
    top:43px;
    right: 500px;
    z-index: 0;


}
.sticky{
    background-color: deeppink;
    color: black;
    position:sticky;
    left: 250px;
    top: 0px;


}
